.App {
  font-family: sans-serif;
  text-align: center;
  padding-top: 320px;
  padding-left: 320px;
  --handle-width: 20px;
}

.container {
  display: flex;
  position: relative;
  background-color: #FCF9BE;
}

.single-interval {
  position: absolute;
  height: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #FFDCA9;
}

.left-handle,
.right-handle {
  width: var(--handle-width);
  height: 100%;
  position: absolute;
  background: rgba(250, 171, 120);
  user-select: none;
}

.left-handle {
  left: calc(-1 * var(--handle-width) / 2);
}

.right-arrow, .left-arrow {
  position: absolute;
  left: 0px;
  top: calc(50% - 34px / 2);
  font-size: 24px;
  width: var(--handle-width);
}

.left-arrow  {
  position: absolute;
}

.right-handle {
  left: calc(100% - (var(--handle-width) / 2));
}

.left-handle:hover,
.right-handle:hover {
  cursor: pointer;
  background: rgb(220, 141, 90);
}

.delete-button {
  position: absolute;
  left: calc(100% + (var(--handle-width) /2));
  top: -20px;
  user-select: none;
}

.value {
  position: relative;
  top: 100%;
}
