.container {
  display: flex;
  height: 200px;
  position: relative;
}

.left-handle, .right-handle {
  height: 100%;
  background: rgba(0,100,255, 0.8);
}

.left-handle:hover, .right-handle:hover {
  cursor: pointer;
  background: rgb(0, 100, 255);
}